main{
  width: 100vw;
  min-height: 100vh;
  padding: 25.7vh 7.81vw 10vh;
  display: grid;
  grid-template-columns: 18% 1fr;
}

.marfa{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.25vw;
}

label{
  color: #777777;
}

input{
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #777777;
}

input:checked {
  background-color: #EAD512;;
}

.element{
  display: flex;
  align-items: center;
}

.marfa-item{
  position: relative;
  border: 1px solid #ADADAD;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 84% 1fr;
  width: 440px;
  height: 650px;
}

.marfa-item img:first-child{
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0;
}

.marfa-item img:last-child{
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer;
}

.hidden-data{
  display: none;
}

.marfa-item p{
  font-weight: bold;
  font-size: 1.3rem;
  margin: 0;
  margin-top: 15px;
  margin-left: 15px;
  cursor: pointer;
}

.marfa-item span{
  font-weight: bold;
  font-size: 1.3rem;
  text-align: right;
  padding-right: 15px;
  padding-bottom: 15px;
}


@media (max-width: 1770px) {
  .marfa{
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 1050px) {
  .marfa{
    grid-template-columns: 1fr;
  }
}

@media (max-width: 430px){
  main{
    grid-template-columns: 1fr;
  }

  .marfa-item{
    width: 100%;
    height: auto;
  }

  .marfa{
    margin-top: 20px;
  }
}